*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: "Roberto", monospace;
}

.main {
  max-width: 60ch;
  _background-color: rgb(246, 131, 131);
  padding: 1rem;
  margin: 0 auto;
}

.h2block {
  position: relative;
  right: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}
body {
  margin: 0;
  _text-align: left;
  _background-color: aquamarine;
}

article {
  max-width: 100vh;
  background-color: blue;
}
_section {
  _width: 55vh;
  _background-color: blueviolet;
}

.header {
  padding: 48px 16px;
  text-align: center;
  background-color: #eee;
}
.nav-link {
  padding: 4px 8px;
  color: black;
}
.nav-link:hover {
  color: black;
  background-color: lightgray;
}
.nav-link:active {
  color: white;
  background-color: gray;
}
.nav-link + .nav-link {
  margin-left: 16px;
}
.main > article {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  color: red;
}
.main > * + * {
  margin-top: 48px;
}
.main > * {
  border-top: 2px solid;
}
.main > *:first-child {
  border-top: none;
}
